<div navi></div>
<div id="splash" class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container center aligned">
    <div class="equal height row">
      <div class="wide column white">
        <h1 class="ui header white ">We Help Companies</h1>
        <h3>We can give your company superpowers to do things that they never thought possible.</h3>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a class="ui inverted large  basic button">Learn More</a>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>"What a Company"</h3>
        <p>That is what they all say about us</p>
      </div>
      <div class="column">
        <h3>"I shouldn't have gone with their competitor."</h3>
        <p>That is what they all say about us</p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical very padded stripe segment">
  <div class="ui text very padded container ">
    <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
    <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
    <a class="ui large button">Read More</a>
    <h4 class="ui horizontal header divider">
      <a href="#">Case Studies</a>
    </h4>
    <h3 class="ui header">Did We Tell You?</h3>
    <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research.</p>
    <a class="ui large button">I'm Still Quite Interested</a>
  </div>
</div>

<div foot></div>
