body::-webkit-scrollbar {width: 0 !important}

canvas {
    height: 100%;
    width: 100%;
}
.white {color: #fff !important;}
.grey {color: #DADADA;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align: center;}
.no-pad-left {padding-left: 0px !important;}
.side-pad {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.hide {display:none !important;}
.of-auto {overflow: auto;}
.ib {display: inline-block;}
.fw {width: 100% !important;}
.no-bord {border: none !important;}
.fr {float: right;}
.pad-t-4 {padding-top: 4px;}
.pad-t-25 {padding-top: 25px !important;}

#splash {
    background: url(../img/splash1.jpg);
    background-size: cover;
    height: 92vh;
    padding-top: 100px;
}

#logo {padding: 0 0 0 20px;}

#login-column {
    padding-top: 50px;
    margin-bottom: 100px;
}

.ngrs-range-slider {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 25px;
}
.flip-45 {transform: rotate(45deg);}
.flip-90 {transform: rotate(90deg);}
.flip-180 {transform: rotate(180deg);}
.flip-135 {transform: rotate(135deg);}
.flip-270 {transform: rotate(270deg);}
.flip-315 {transform: rotate(315deg);}

.mirror-180 {transform: scale(1, -1);}

.wmImgPrev {
    background: #e3e3e3;
}

.color-picker-wrapper .color-picker-panel {position: relative !important;}

.big-img {
    position: absolute !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200% !important;
    z-index: 10000;
}

div.spin-div {
    display: none;
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: text-bottom;
    width: 100%;
    z-index: 100;
}

.spin-div img {
    margin-top: 15%;
    margin-left: -4px;
}

span.before-text {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    padding: 10px;
    position: absolute;
}

span.after-text {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 0;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}


 .preview-img {
     display: inline-block;
     width: 49%;
 }

 #preview-img-modal {
     max-width: 75%;
 }

 .preview-div {
     position: relative;
 }

 .preview-text {
     position: absolute;
     left: 0;
     top: 0;
     background: #000;
     color: #fff;
     padding: 5px 10px;
 }

 .ui.blue.ribbon.label {
     z-index: 100;
 }

 .preview-icon {
     position: absolute;
     left: 5px;
    top: 5px;
 }

 .converging-div {
     position: relative;
     height: 100%
 }

 .nubs {
     position: absolute;
     top: 0;
 }

 .nub {
     width: 11px;
     height: 11px;
     margin: -5px;
     background: #3F9FFF;
     background: -moz-linear-gradient(#7FBFFF, #007FFF);
     background: -webkit-gradient(linear, left top, left bottom, from(#7FBFFF), to(#007FFF));
     border: 2px solid white;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
     cursor: move;
     position: absolute;
 }

 /*.perspective-card:hover {
     webkit-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
 }*/

 .ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
     webkit-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}
