<!DOCTYPE html>
<html ng-app="app" lang="en">

<base href="/">

<div ng-view autoscroll></div>

<!-- Vendor JS -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/libs/angular/angular.min.js"></script>
<script src="/assets/libs/angular-route/angular-route.min.js"></script>
<script src="/assets/libs/semantic/dist/semantic.min.js"></script>
<script src="/assets/libs/ngstorage/ngStorage.min.js"></script>
<script src="/assets/libs/ngstorage/ngStorage.min.js"></script>
<script src="/assets/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/assets/libs/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/libs/caman/dist/caman.min.js"></script>
<script src="/assets/libs/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="/assets/libs/watermark/dist/jquery.watermark.js"></script>
<script src="/assets/libs/tinycolor/dist/tinycolor-min.js"></script>
<script src="/assets/libs/angular-color-picker/dist/angularjs-color-picker.min.js"></script>
<script src="/assets/libs/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
<script src="/assets/libs/ang-accordion/js/ang-accordion.js"></script>


<!-- Angular App JS -->
<script src="/app/app.js"></script>
<script src="/app/appRoutes.js"></script>
<script src="/app/ctrl.js"></script>
<script src="/app/directives.js"></script>
<script src="/app/services.js"></script>
