<div navi></div>

<div id="color-view" class="ui internally grid very padded">
    <div class="row">
        <div class="three wide column">
            <div account-side-navi></div>
        </div>
        <div class="twelve wide column">
            <div class="ui padded container segment">
                <h2 class="ui header">Image Color Correction
                    <a ng-click="backToAddProject()"><button class="ui right floated button">Add Project<i class="reply right icon"></i></button></a>
                </h2>


                <div class="ui divider "></div>
                <div class="ui hidden divider "></div>

                <div class="row">
                    <div class="ui link cards">
                      <div class="card" ng-repeat="img in localStorage.henrich.preImages">
                        <div id="image-div-{{$index}}" class="image color-image" data-key="{{img.originalKey}}" ng-click="bigImg($event)">
                            <div id="spin-{{img.originalKey}}" class="spin-div"><img src="/assets/img/35.gif"></div>
                            <img width="100%" height="100%" class="color-image-preview" src="{{img.url}}" id="fab-can-{{$index}}">
                            <i ng-click="bigImg($event)" class="circular inverted search icon preview-icon"></i>
                        </div>

                        <a class="ui basic label no-bord">Brightness
                            <i title="Reset this slider." ng-click="resetSlider($index, 'brightness')" class="undo icon link right floated poppy"></i>
                        </a>
                        <div class="ui brightness-slider slide" id="brightness-{{$index}}" range-slider min="-100" max="100" model-max="colorValues[$index].maxBrightness" pin-handle="min" step="1"></div>

                        <a class="ui basic label no-bord">Vibrance
                            <i title="Reset this slider." ng-click="resetSlider($index, 'vibrance')" class="undo icon link right floated poppy"></i>
                        </a>
                        <div class="ui vibrance-slider slide" id="vibrance-{{$index}}" range-slider min="-100" max="100" model-max="colorValues[$index].maxVibrance" pin-handle="min"></div>

                        <a class="ui basic label no-bord">Sharpness
                            <i title="Reset this slider." ng-click="resetSlider($index, 'sharpness')" class="undo icon link right floated poppy"></i>
                        </a>
                        <div class="ui sharpness-slider slide" id="sharpness-{{$index}}" range-slider min="-100" max="100" model-max="colorValues[$index].maxSharpness" pin-handle="min"></div>


                        <button ng-click="applyToAll($index)" class="mini ui button">Apply To All</button>
                      </div>
                    </div>
                </div>

                <div class="ui divider "></div>
                <div class="ui hidden divider "></div>

                <div id="color-buttons" class="row tr">
                    <div class="ui buttons">
                        <a ng-click="skipColorCorrection()"><button class="ui button">Skip</button></a>
                        <div class="or"></div>
                        <button ng-click="saveColorCorrection()" class="ui positive button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div><div class="ui hidden divider"></div><div class="ui hidden divider"></div>
<div foot></div>

<div id="preview-img-modal" class="modal hide">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid image">
            <div class="ui blue ribbon label">Before</div>
            <img class="ui image" src="{{beforeImgUrl}}">
        </div>
      </div>
      <div class="column">
        <div class="ui fluid image">
          <div class="ui blue ribbon label">After</div>
          <img id="img-after" class="ui image" src="">
        </div>
      </div>
    </div>
</div>

<div id="save-img-modal" class="modal hide">
    <div class="ui two column grid">
      <div class="column fw pad-t-25">
        <h2 class="ib">Saving Images</h2> <img class="ib fr pad-t-4" src="/assets/img/76.gif">
      </div>
    </div>
</div>
