<div navi></div>

<div class="ui internally grid very padded">
    <div class="row">
        <div class="three wide column">
            <div account-side-navi></div>
        </div>
        <div class="twelve wide column">
            <div class="ui padded container segment">
                <div class="row">
                    <h2 class="ui header">Add Project
                        <a href="/projects"><button class="ui right floated button">Project List<i class="reply right icon"></i></button></a>
                        <button ng-if="editButton == true" ng-click="editButtonState(); saveProfileData()" class="ui primary right floated button">Save</button>
                    </h2>

                    <div class="ui divider "></div>
                    <div class="ui hidden divider "></div>

                    <form class="ui form">
                        <div class="field">
                            <label>Project Name</label>
                            <input ng-model="projectInfo.projectName" name="projectName" placeholder="Bloomfields Plaza" type="text">
                        </div>
                        <div class="field">
                            <label>Project Description</label>
                            <textarea ng-model="projectInfo.projectDesc" rows="3"></textarea>
                        </div>
                    </form>
                </div>

                <div class="ui hidden divider"></div>

                <div class="row">
                    <form class="ui form">
                        <div class="field">
                            <label>Upload Images</label>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="ui two column middle aligned padded container segment basic stackable grid">
                        <div class="column">
                            Select Images <input multiple ngf-select="" ngf-keep="'distinct'" ng-model="files" name="file" ngf-accept="'image/*'" type="file">
                        </div>

                            

                        <div class="column center aligned ">
                            <div class="center aligned column ib">
                                <div ngf-drop  ng-model="files"
                                     ngf-multiple="multiple"
                                     ngf-capture="capture"
                                     ngf-keep="'distinct'"
                                     ngf-fix-orientation="orientation"
                                     ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">
                                  <span ng-show="dropAvailable">Drop Files Here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui hidden divider"></div>

                <div class="row">
                    <div class="ui link cards">
                      <div class="card" ng-repeat="f in files">
                        <div class="image">
                            <img ngf-src="files[$index]">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ui divider"></div>
                    <div class="fw tr">
                        <button class="ui primary button" ng-click="nextColor(files)" type="submit">Start Image Processing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div><div class="ui hidden divider"></div><div class="ui hidden divider"></div>
<div foot></div>
